@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
        "MS 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* 下記css  ヘッダー*/

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6.53% 0 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 226.76px;
}

.pc_nav ul {
    display: flex;
}
.pc_nav ul li {
    width: 104px;
    margin-right: 55px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.pc_nav ul li:last-child {
    margin-right: 0;
}

.slider img {
    width: 100%;
}

/* 中段 */
.background {
    background: #e8d9bf;
}

.happy {
    text-align: center;
    padding: 105px 0px 50px 0px;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 82px;
    margin: 0px 0px 40px 0px;
    line-height: 1.17;
    font-weight: normal;
}

/* h3 {
    text-align: center;
} */

.menu_logo {
    width: 151px;
    margin: auto;
}

.coffee {
    font-size: 23px;
    text-align: center;
    margin-bottom: 94px;
    line-height: 1.65;
}

/* aboutus */
.aboutus_whole {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 1000px;
    margin-bottom: 100px;
    /* text-align: center; */
    align-items: center;
    padding: 0 10px;
}

.aboutus_wrap img {
    border-bottom-right-radius: 50px;
}

.aboutus_wrap {
    width: 50%;
}

.aboutus_right {
    width: 41.5%;
}

.aboutus_logo {
    width: 272px;
    /* margin: auto; */
    margin-bottom: 50px;
}

.aboutus_title {
    font-size: 44px;
    margin-bottom: 23px;
}

.aboutus_text {
    line-height: 1.65;
    text-align: left;
}

/* メニュー */
.food_menu {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 90px;
}
/* 上のマージンの％がわからん */

.menu_logo {
    margin-bottom: 40px;
}

.menu_photo p {
    line-height: 1.47;
    /* %だと変になるのは？ */
}

h4 {
    color: #d30202;
    font-size: 38px;
    padding-left: 12px;
    padding-bottom: 8px;
    margin: -15px 0px 0px 0px;
}

.menu_text {
    font-size: 17px;
}

.menu_photo {
    width: 30%;
}

.menu_photo img {
    border-top-right-radius: 50px;
}

/* ギャラリー */

.gallery_logo {
    width: 245px;
    margin: auto;
}

.gallery_img {
    display: flex;
    width: 20%;
    padding-top: 17px;
    padding-bottom: 59px;
}

/* event */

.event_logo {
    width: 173px;
    margin: auto;
    margin-bottom: 30px;
}

.event_whole {
    text-align: center;
    max-width: 1000px;
    border: 3.68px solid #4f260b;
    background: #fff;
    padding: 40px 0px;
    /* margin-bottom: 68px; */
    margin: 0 auto 68px;
    box-sizing: border-box;
}
/* どの部分が６８pxなの？ */

/* .event_whole ul {
    /* display: flex; */
/* } */
.event_whole li {
    font-size: 23px;
    text-align: left;
    padding-left: 162px;
    /* padding邪魔 */
    line-height: 1.95;
}
/* 多分paddingで取る方法より良い方法があるはず */

.event_whole li span {
    text-decoration: underline;
    padding-left: 30px;
}

/* access */
.map iframe {
    width: 100%;
    height: 471px;
    vertical-align: bottom;
}

.access_logo {
    width: 214px;
    margin: auto;
    padding-bottom: 37px;
}

/* footer */

.footer_wrap {
    margin: 0 auto;
}

.footer {
    display: flex;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 74px;
}
.footer_logo {
    width: 227px;
}
.footer_wrap {
    max-width: 1000px;
    margin: auto;
}

.footer_text {
    font-size: 20px;
}

.footer_text p {
    line-height: 1.95;
    margin-left: 65px;
    color: black;
}

.footer_web {
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
    color: black;
}

/* ここから下レスポンシブ用 */
.topbutton {
    width: 125px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.sp_nav {
    display: none;
}

.btn {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    z-index: 100;
}
.sp_footer_wrap {
    display: none;
    width: 60%;
}
.sp_footer_text {
    font-size: 18px;
}

.sp_footer {
    margin-top: 80px;
    margin-bottom: 74px;
}

.sp_footer_text p {
    line-height: 1.95;
    color: black;
}

.sp_event_whole {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    .btn {
        display: block;
    }

    .btn span {
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .btn span::before,
    .btn span::after {
        content: "";
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: absolute;
        transition: 0.3s;
    }
    .btn span::before {
        bottom: 10px;
    }
    .btn span::after {
        top: 10px;
    }

    .open span {
        background: transparent;
        /* background: #fff;
        width: 33px;
        height: 3px; */
        /* 上の入れたら米印みたいな感じになる */
    }

    .open span::before {
        transform: rotate(45deg);
        bottom: 0px;
    }
    .open span::after {
        transform: rotate(135deg);
        top: 0px;
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .sp_nav li {
        text-align: center;
        color: #fff;
        font-size: 17px;
        padding: 10px 0px;
        font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
            "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E",
            "MS Ｐ明朝", "MS 明朝", serif;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 10vw;
        /* 上のはこれでいい？元々は82pxだけどこんなにサイズ下がるの？ */
    }

    .coffee {
        font-size: 16px;
    }
    /* aboutus */
    .aboutus_whole {
        display: none;
    }

    .sp_aboutus_logo {
        width: 160px;
        margin: auto;
        padding-bottom: 17px;
    }

    .sp_aboutus_whole {
        display: block;
        margin: auto;
        width: 100%;
    }
    .sp_aboutus_right {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sp_aboutus_title {
        font-size: 36px;
        padding-bottom: 20px;
        line-height: 1.25;
    }

    .sp_aboutus_wrap img {
        width: 100%;
    }

    .sp_aboutus_wrap img {
        border-bottom-right-radius: 0px;
        padding-bottom: 35px;
    }
    .sp_aboutus_text {
        line-height: 1.75;
        padding-bottom: 60px;
    }

    /* menu/ */
    .food_menu {
        display: block;
        /* margin: auto;なんでここだとCSS効かへんの？ */
    }

    .menu_text {
        font-size: 17px;
        line-height: 1.5;
        padding-bottom: 42px;
    }

    .menu_photo {
        margin: auto;
        width: 80%;
        /* max-widthだとダメな理由は？ */
    }

    .menu_photo h4 {
        padding-bottom: 5px;
    }

    /* gallery */
    .gallery_img {
        display: block;

        margin: auto;
        width: 100%;
        /* max-width: 100%; */
    }

    .gallery_img img {
        width: 100%;
        /* もし画像５まいのうち４枚を消したいとしたらどうしたらいい？（HTMLをdivで囲って行う？） */
    }

    /* event */

    .sp_event_whole {
        font-size: 4vw;
        margin-left: 0px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sp_event_whole li {
        font-size: 23px;
        text-align: left;
        line-height: 1.95;
    }

    .event_whole ul {
        display: none;
        /* font-size: 4vw;
        margin-left: 0px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis; */
    }

    /* access  */

    /* footer  */
    .footer {
        display: none;
    }

    .sp_footer_logo {
        padding-bottom: 28px;
    }

    .sp_footer_wrap {
        display: block;
    }
}
